<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="Server=xps02\sql2008;Database=asw_express_v4;User ID=sa;Password=blueweb2000"/>

    <add key="WBXEngine.plugin.tops.inventory.directory.ftp" value="C:\working\projects\jerrys-artarama\data-files\inventory\ftp"/>
    <add key="WBXEngine.plugin.tops.inventory.directory.temp" value="C:\working\projects\jerrys-artarama\data-files\inventory\temp" />
    <add key="WBXEngine.plugin.tops.inventory.directory.sale" value="C:\working\projects\jerrys-artarama\data-files\inventory\sale"/>
    <add key="WBXEngine.plugin.tops.inventory.directory.supersale" value="C:\working\projects\jerrys-artarama\data-files\inventory\supersale"/>
    <add key="WBXEngine.plugin.tops.inventory.directory.inventory" value="C:\working\projects\jerrys-artarama\data-files\inventory\inventory"/>
    <add key="WBXEngine.plugin.tops.inventory.directory.unknown" value="C:\working\projects\jerrys-artarama\data-files\inventory\unknown"/>
    <add key="WBXEngine.plugin.tops.inventory.directory.exception" value="C:\working\projects\jerrys-artarama\data-files\inventory\exception"/>


    <add key="WBXEngine.Manager.Logging.IsActive" value="true"/>
    <add key="WBXEngine.Manager.Logging.Path" value="c:\working\wbexchange\logging"/>

    <!-- INVENTORY FILES ROUTING-->
    <add key="WBXE.Plugin.Inventory.FileRouter.Pickup.Path" value="C:\working\projects\jerrys-artarama\data-files\ftp\inventory(asw*);C:\working\projects\jerrys-artarama\data-files\ftp\store(st*)" />

    <add key="WBXE.Plugin.Inventory.FileRouter.File.asw.1.Destination.Path" value="C:\working\projects\jerrys-artarama\data-files\inventory\inventory"/>
    <add key="WBXE.Plugin.Inventory.FileRouter.File.asw.2.Destination.Path" value="C:\working\projects\jerrys-artarama\data-files\inventory\sale"/>
    <add key="WBXE.Plugin.Inventory.FileRouter.File.asw.3.Destination.Path" value="C:\working\projects\jerrys-artarama\data-files\inventory\supersale"/>
    <add key="WBXE.Plugin.Inventory.FileRouter.File.asw.4.Destination.Path" value="C:\working\projects\jerrys-artarama\data-files\inventory\kits-components"/>
    <add key="WBXE.Plugin.Inventory.FileRouter.File.St.Cost.Destination.Path" value="C:\working\projects\jerrys-artarama\data-files\inventory\cost"/>

    <!-- INVENTORY IMPORT -->
    <add key="WBXE.Plugin.Inventory.Import.Pickup.Path" value="C:\working\projects\jerrys-artarama\data-files\inventory\inventory" />
    <add key="WBXE.Plugin.Inventory.Import.Archive.Path" value="C:\working\projects\jerrys-artarama\data-files\inventory\archive\inventory" />

    <!-- INVENTORY SALE IMPORT -->
    <add key="WBXE.Plugin.Inventory.Sale.Import.Pickup.Path" value="C:\working\projects\jerrys-artarama\data-files\inventory\sale" />
    <add key="WBXE.Plugin.Inventory.Sale.Import.Archive.Path" value="C:\working\projects\jerrys-artarama\data-files\inventory\archive\sale" />


    <!-- INVENTORY SUPER SALE IMPORT -->
    <add key="WBXE.Plugin.Inventory.SuperSale.Import.Pickup.Path" value="C:\working\projects\jerrys-artarama\data-files\inventory\supersale" />
    <add key="WBXE.Plugin.Inventory.SuperSale.Import.Archive.Path" value="C:\working\projects\jerrys-artarama\data-files\inventory\archive\supersale" />


    <!-- INVENTORY KIT COMPOENT IMPORT -->
    <add key="WBXE.Plugin.Inventory.KitComponent.Import.Pickup.Path" value="C:\working\projects\jerrys-artarama\data-files\inventory\kits-components" />
    <add key="WBXE.Plugin.Inventory.KitComponent.Import.Archive.Path" value="C:\working\projects\jerrys-artarama\data-files\inventory\archive\kits-components" />

    <!-- INVENTORY COST IMPORT -->
    <add key="WBXE.Plugin.Inventory.Cost.Import.Pickup.Path" value="C:\working\projects\jerrys-artarama\data-files\inventory\cost" />
    <add key="WBXE.Plugin.Inventory.Cost.Import.Archive.Path" value="C:\working\projects\jerrys-artarama\data-files\inventory\archive\cost" />


  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
