<?xml version="1.0"?>
<configuration>
  
  <appSettings>
    <add key="ConnectionString." value="Server=(local)\sql2008;Database=jerrys_artarama_2012;User ID=sa;Password=blueweb2000"/>
    <add key="ConnectionString." value="Server=(local)\sql2008;Database=asw_express_v4;User ID=sa;Password=blueweb2000"/>
    <add key="ConnectionString." value="Server=(local)\development;Database=jerrys_temp;User ID=sa;Password=blueWeb2000"/>
    
    <add key="ConnectionString.optiplex01" value="Server=optiplex01\sql2008;Database=asw_v6_2014_09_12;User ID=sa;Password=blueweb2000"/>
    <add key="ConnectionString.optiplex01." value="Server=optiplex01\sql2008;Database=web_v6;User ID=sa;Password=blueweb2000"/>
    <!--<add key="ConnectionString.wbxd0050" value="Server=wbxd0050\development;Database=asw_v6_2013_09_23;User ID=sa;Password=blueWeb2000"/>-->
    <add key="ConnectionString.wbxd0051" value="server=wbxd0051\development;database=asw_express_v6_1_17_14;User ID=sa;Password=blueWeb2000"/>
    <add key="ConnectionString.wbxdev000042" value="server=wbxdev000042\development;database=asw_express_v6_1_17_14;User ID=sa;Password=blueweb2000"/>
    <add key="ConnectionString.XPS17-01" value="server=XPS17-01\development;database=asw_v6_2014_03_18;User ID=sa;Password=blueweb2000"/>

    <add key="ConnectionString.wbxd0050" value="Server=(local)\development;Database=webbasix_v7.2015.02;User ID=sa;Password=blueWeb2000" />
    
    
    <add key="WBXEngine.Manager.Logging.IsActive" value="true"/>
    <add key="WBXEngine.Manager.Logging.Path" value="c:\working\wbexchange\logging"/>

    <add key="WBXE.v6.Tops.Taxes.Import.Source.Directory" value="C:\working\projects\jerrys-artarama\data-files\taxes\source\"/>
    <add key="WBXE.v6.Tops.Taxes.Import.MoveTo.Directory." value=""/>
    <add key="WBXE.v6.Tops.Taxes.Import.Archive.Directory" value="C:\working\projects\jerrys-artarama\data-files\taxes\archive\"/>

    <!--- a default setting-->
    <add key="WBXEngine.Setting.Default.WBXE.v6.Tops.IsOnline" value="true"/>
    <!--  
    <add key="WBXEngine.plugin.tops.inventory.directory.ftp" value="C:\working\projects\jerrys-artarama\data-files\inventory\ftp"/>
    <add key="WBXEngine.plugin.tops.inventory.directory.temp" value="C:\working\projects\jerrys-artarama\data-files\inventory\temp" />
    <add key="WBXEngine.plugin.tops.inventory.directory.sale" value="C:\working\projects\jerrys-artarama\data-files\inventory\sale"/>
    <add key="WBXEngine.plugin.tops.inventory.directory.supersale" value="C:\working\projects\jerrys-artarama\data-files\inventory\supersale"/>
    <add key="WBXEngine.plugin.tops.inventory.directory.inventory" value="C:\working\projects\jerrys-artarama\data-files\inventory\inventory"/>
    <add key="WBXEngine.plugin.tops.inventory.directory.unknown" value="C:\working\projects\jerrys-artarama\data-files\inventory\unknown"/>
    <add key="WBXEngine.plugin.tops.inventory.directory.exception" value="C:\working\projects\jerrys-artarama\data-files\inventory\exception"/>
    <add key ="WB.WE.POS.Base.ItemDetails.BuildAllItems.Sleep" value="-1"/>
    -->
    
    

    <!-- INVENTORY FILES ROUTING-->
    <!--
    <add key="WBXE.Plugin.Inventory.FileRouter.Pickup.Path" value="C:\working\projects\jerrys-artarama\data-files\ftp\inventory(asw*);C:\working\projects\jerrys-artarama\data-files\ftp\store(st*)" />
    <add key="WBXE.Plugin.Inventory.FileRouter.File.asw.1.Destination.Path" value="C:\working\projects\jerrys-artarama\data-files\inventory\inventory"/>
    <add key="WBXE.Plugin.Inventory.FileRouter.File.asw.2.Destination.Path" value="C:\working\projects\jerrys-artarama\data-files\inventory\sale"/>
    <add key="WBXE.Plugin.Inventory.FileRouter.File.asw.3.Destination.Path" value="C:\working\projects\jerrys-artarama\data-files\inventory\supersale"/>
    <add key="WBXE.Plugin.Inventory.FileRouter.File.asw.4.Destination.Path" value="C:\working\projects\jerrys-artarama\data-files\inventory\kits-components"/>
    <add key="WBXE.Plugin.Inventory.FileRouter.File.St.Cost.Destination.Path" value="C:\working\projects\jerrys-artarama\data-files\inventory\cost"/>
    -->
    
    <!--<add key="WBXE.Plugin.Inventory.FileRouter.Pickup.Path" value="C:\working\projects\jerrys-artarama\data-files\ftp\inventory(jer*);C:\working\projects\jerrys-artarama\data-files\ftp\store(st*)" /> -->
    
    <add key="WBXE.v6.Tops.Inventory.Router.Source.Directory" value="C:\working\projects\jerrys-artarama\data-files\ftp\inventory(asw*)" />
    
    <add key="WBXE.v6.Tops.Inventory.Router.FileType.1.Destination.Directory" value="C:\working\projects\jerrys-artarama\data-files\inventory\inventory"/>
    <add key="WBXE.v6.Tops.Inventory.Router.FileType.2.Destination.Directory" value="C:\working\projects\jerrys-artarama\data-files\inventory\sale"/>
    <add key="WBXE.v6.Tops.Inventory.Router.FileType.3.Destination.Directory" value="C:\working\projects\jerrys-artarama\data-files\inventory\supersale"/>
    <add key="WBXE.v6.Tops.Inventory.Router.FileType.4.Destination.Directory" value="C:\working\projects\jerrys-artarama\data-files\inventory\kits-components"/>
    <!--<add key="WBXE.Plugin.Inventory.FileRouter.File.St.Cost.Destination.Path" value="C:\working\projects\jerrys-artarama\data-files\inventory\cost"/>-->

  <!--
    <add key="WBXE.Plugin.Inventory.FileRouter.File.asw.1.Destination.Path" value="C:\working\projects\jerrys-artarama\data-files\inventory\inventory"/>
    <add key="WBXE.Plugin.Inventory.FileRouter.File.asw.2.Destination.Path" value="C:\working\projects\jerrys-artarama\data-files\inventory\sale"/>
    <add key="WBXE.Plugin.Inventory.FileRouter.File.asw.3.Destination.Path" value="C:\working\projects\jerrys-artarama\data-files\inventory\supersale"/>
    <add key="WBXE.Plugin.Inventory.FileRouter.File.asw.4.Destination.Path" value="C:\working\projects\jerrys-artarama\data-files\inventory\kits-components"/>
    -->
    <!--<add key="WBXE.Plugin.Inventory.FileRouter.File.St.Cost.Destination.Path" value="C:\working\projects\jerrys-artarama\data-files\inventory\cost"/>-->
    
    
    
    
    <!-- INVENTORY IMPORT -->
    
    <add key="WBXE.v6.Tops.Inventory.Import.Source.Directory" value="C:\working\projects\asw-express\v6\data-files\inventory\import" />
    <add key="WBXE.v6.Tops.Inventory.Import.Archive.Directory" value="C:\working\projects\asw-express\v6\data-files\inventory\archive" />

    
    <add key="WBXE.v6.Tops.Inventory.Import.Kits.Source.Directory" value="C:\working\projects\asw-express\v6\data-files\inventory\kits-components" />
    <add key="WBXE.v6.Tops.Inventory.Import.Kits.Archive.Directory" value="C:\working\projects\asw-express\v6\data-files\inventory\archive\kits-components" />
    
    
    <!-- INVENTORY SALE IMPORT -->
    <add key="WBXE.Plugin.Inventory.Sale.Import.Pickup.Path" value="C:\working\projects\jerrys-artarama\data-files\inventory\sale" />
    <add key="WBXE.Plugin.Inventory.Sale.Import.Archive.Path" value="C:\working\projects\jerrys-artarama\data-files\inventory\archive\sale" />


    <!-- INVENTORY SUPER SALE IMPORT -->
    <add key="WBXE.Plugin.Inventory.SuperSale.Import.Pickup.Path" value="C:\working\projects\jerrys-artarama\data-files\inventory\supersale" />
    <add key="WBXE.Plugin.Inventory.SuperSale.Import.Archive.Path" value="C:\working\projects\jerrys-artarama\data-files\inventory\archive\supersale" />


    <!-- INVENTORY KIT COMPOENT IMPORT -->
    <add key="WBXE.Plugin.Inventory.KitComponent.Import.Pickup.Path" value="C:\working\projects\jerrys-artarama\data-files\inventory\kits-components" />
    <add key="WBXE.Plugin.Inventory.KitComponent.Import.Archive.Path" value="C:\working\projects\jerrys-artarama\data-files\inventory\archive\kits-components" />

    <!-- INVENTORY COST IMPORT -->
    <add key="WBXE.Plugin.Inventory.Cost.Import.Pickup.Path" value="C:\working\projects\jerrys-artarama\data-files\inventory\cost" />
    <add key="WBXE.Plugin.Inventory.Cost.Import.Archive.Path" value="C:\working\projects\jerrys-artarama\data-files\inventory\archive\cost" />


    <!-- Segmented Email List -->
    <add key="WBXE.Plugin.Bronto.ListImport.Pickup.Path" value="C:\working\projects\jerrys-artarama\data-files\bronto\segment" />
    <add key="WBXE.Plugin.Bronto.ListImport.Archive.Path" value="C:\working\projects\jerrys-artarama\data-files\bronto\archive\segment" />
    
    <!-- Transactional Emails -->
    <add key="WBXE.Plugin.Bronto.TransactionEmails.PickUp.Path" value="C:\working\projects\jerrys-artarama\data-files\ftp\webxml" />
    <add key="WBXE.Plugin.Bronto.TransactionEmails.Archive.Path" value="C:\working\projects\jerrys-artarama\data-files\archive\webxml" />
    <add key="WBXE.Plugin.Bronto.TransactionEmails.OrderFile.Errors.Directory" value="C:\working\projects\jerrys-artarama\data-files\ftp\webxml\errors" />
    
    <add key="WBXE.Plugin.Bronto.TransactionEmails.SuggestedItems.Max" value="3" />
    <add key="WBXE.Plugin.Bronto.TransactionEmails.SuggestedItems.Image.Size.Id" value="200" />
    
    <add key="WBXE.Plugin.Bronto.TransactionEmails.Site.Images.Path.Full" value="C:\working\projects\jerrys-artarama\web\v4\images" />
    <add key="WBXE.Plugin.Bronto.TransactionEmails.Site.Images.Resized.Path.Full" value="C:\working\projects\jerrys-artarama\web\v4\images\resized" />
    <add key="WBXE.Plugin.Bronto.TransactionEmails.Site.Domain" value="www.pos3.localhost.com" />
    <add key="WBXE.Plugin.Bronto.TransactionEmails.Site.Images.Path.Virtual" value="/images/" />
    <add key="WBXE.Plugin.Bronto.TransactionEmails.Site.Images.Resized.Path.Virtual" value="/images/resized/" />
    <add key="WBXE.Plugin.Bronto.TransactionEmails.Email.Override.To" value="eric.wilson@webbasix.com,ericw1229@gmail.com" />

    <!-- jerrys -->
    
    <add key="WBXE.Plugin.Bronto.TransactionEmails.Email.From.Address" value="customer-service@jerrysartarama.com" />
    <add key="WBXE.Plugin.Bronto.TransactionEmails.Email.From.Display" value="JerrysArtarama.com Customer Service" />
    <add key="WBXE.Plugin.Bronto.TransactionEmails.Email.Reply.Address" value="customer-service@jerrysartarama.com" />
    
    <!-- asw -->
    <add key="WBXE.Plugin.Bronto.TransactionEmails.Email.From.Address" value="customer-service@aswexpress.com" />
    <add key="WBXE.Plugin.Bronto.TransactionEmails.Email.From.Display" value="ASWExpress.com Customer Service" />
    <add key="WBXE.Plugin.Bronto.TransactionEmails.Email.Reply.Address" value="customer-service@aswexpress.com" />
    <!--
    <add key="WBXE.Plugin.Bronto.TransactionEmails.Email.From.Address" value="customerservice@jerrysartarama.com" />
    <add key="WBXE.Plugin.Bronto.TransactionEmails.Email.From.Display" value="Customer Service" />
    <add key="WBXE.Plugin.Bronto.TransactionEmails.Email.Reply.Address" value="no-reply@jerrysartarama.com" />
    -->

    <!-- jeryys -->
    <!--
    <add key="WBXE.Plugin.Bronto.TransactionEmails.Template.default.ID" value="0bbb03eb0000000000000000000000102dcd" />
    -->
    
    <!-- asw  0bc603eb00000000000000000000001097d7 -->
    <add key="WBXE.Plugin.Bronto.TransactionEmails.Template.default.ID" value="0bc603eb00000000000000000000001097d7" />
    <!--
    <add key="WBXE.Plugin.Bronto.TransactionEmails.Template.oc.ID" value="0bbb03eb0000000000000000000000102dcd" />
    <add key="WBXE.Plugin.Bronto.TransactionEmails.Template.dl.ID" value="0bbb03eb0000000000000000000000102dcd" />
    <add key="WBXE.Plugin.Bronto.TransactionEmails.Template.sc.ID" value="0bbb03eb0000000000000000000000102dcd" />
    <add key="WBXE.Plugin.Bronto.TransactionEmails.Template.di.ID" value="0bbb03eb0000000000000000000000102dcd" />
    <add key="WBXE.Plugin.Bronto.TransactionEmails.Template.bc1.ID" value="0bbb03eb0000000000000000000000102dcd" />
    <add key="WBXE.Plugin.Bronto.TransactionEmails.Template.bc2.ID" value="0bbb03eb0000000000000000000000102dcd" />
    <add key="WBXE.Plugin.Bronto.TransactionEmails.Template.inv.ID" value="0bbb03eb0000000000000000000000102dcd" />
    -->
    
    <add key="WBXE.Plugin.Bronto.TransactionEmails.SendEmails.IsActive" value="true" />


    <add key="WBXE.Plugin.Order.Status.Updates.Directory.Import" value="C:\working\projects\jerrys-artarama\data-files\status"/>
    <add key="WBXE.Plugin.Order.Status.Updates.Directory.Archive" value="C:\working\projects\jerrys-artarama\data-files\archive\order-status"/>
    <add key="WBXE.Plugin.Order.Status.Updates.File.Prefix" value="ahis"/>


    <add key="WBXE.Plugin.Google.Store.Transactions.Directory.Temp" value="C:\working\projects\jerrys-artarama\data-files\exports\temp"/>
    <add key="WBXE.Plugin.Google.Store.Transactions.Directory.Destination" value="C:\working\projects\jerrys-artarama\data-files\exports\final"/>
    <add key="WBXE.Plugin.Google.Store.Transactions.File.Name.Shipped" value="ja-shipped-googlestore.txt"/>
    <add key="WBXE.Plugin.Google.Store.Transactions.File.Name.Cancelled" value="ja-cancelled-googlestore.txt"/>

    <add key="WBXE.Plugin.Google.Store.Transactions.FTP.IsActive" value="true"/>
    <add key="WBXE.Plugin.Google.Store.Transactions.FTP.Url" value="50.62.147.45"/>
    <add key="WBXE.Plugin.Google.Store.Transactions.FTP.UserName" value="wb-ftp"/>
    <add key="WBXE.Plugin.Google.Store.Transactions.FTP.Password" value="wbftp002"/>
    <add key="WBXE.Plugin.Google.Store.Transactions.FTP.Dir" value=""/>

    <!-- Set the state of the application, this controls functionality and error messages. values are: None (or empty)|Development|Debug|Beta|Stage|Production -->
    <add key="WBX.Core.Application.State" value="Development"/>
    
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
